<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!--<add key="UrlBaseJira" value="http://10.250.250.18" />-->
    <add key="UrlBaseJira" value="http://localhost:8080" />
    <add key="UrlBaseToggl" value="https://www.toggl.com" />
    <add key="TimeStarterRun" value="20:10" />
    <add key="TimeEndRun" value="23:50" />
    <add key="since" value="2018-01-19" />
    <add key="until" value="2018-02-09" />
    <!--<add key="since" value="" />
    <add key="until" value="" />-->
  </appSettings>
  <connectionStrings>
    <add name="JiraDb" connectionString="Server=10.250.250.18;Database=jira;Uid=sgvuser;Pwd=$gVTrd234@Mru#tZ"/>
  </connectionStrings>
</configuration>